<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Alumnos List</h1>

    <button type="button">
        <a href="(% url 'alumnosAdd' %)"> Agregar </a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif}
    </div>

    <table>
        {% if alumnos %}
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido P</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for alumno in alumnos %}
                <tr>
                    <td>{{alumnos.rut}}</td>
                    <td>{{alumnos.nombre}}</td>
                    <td>{{alumnos.apellido_paterno}}</td>
                    <td><a href="{% url 'alumnos_del' pk-alumno.rut}">Eliminar</a></td>
                    <td><a href="{% url 'alumnos_finEdit' pk-alumno.rut}">Modificar</a></td>
                </tr>
               {% endfor $} 
            {% endif %}
    </table>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#idMensaje").delay(2000).fadeOut("slow");
        });
    </script>
</body>
</html>